/* Box Model Hack */
* {
  box-sizing: inherit; 
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
font-size: 62.5%;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 160%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* INNER STYLES
/*******************************************/